.my-caption{
    background-color: red;
    bottom: 200px;
    background-color: rgba(0, 0, 0, 0.2);
    /*position: relative;*/
    padding-left: 20px;
    padding-right: 20px;
}


.h-50 {height: 50px;}
.h-200 {height: 200px;}
.h-100 {height: 100px;}
.h- {height: px;}
.h- {height: px;}
.h- {height: px;}